# Keeps system-wide Flatpak apps and runtimes patched (there is no other updater for them).
[Unit]
Description=Update Flatpak apps and runtimes
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/flatpak update --system --noninteractive --assumeyes
ExecStart=/usr/bin/flatpak uninstall --system --unused --noninteractive --assumeyes
